<div class="container-f bg-black">
    <div class="container-l flex flex-wrap gap-20 jus-sb ">

        <div class="flex flex-col gap-10">
            <div class="company-info__logo">
                <img src="./img/logo/logo-dongho-footer.svg" alt="Dongho24h Logo">
            </div>
            <h3 class="bold text-color-white uppercase">CÔNG TY TNHH XNK ĐỒNG HỒ 24H</h3>
            <p class="text-color-white ">
                GPĐKKD Số: 0318585304 do sở KH & ĐT TP.HCM cấp ngày: 24/07/2024
            </p>
            <p class="text-color-white ">VPGD: 584 Lạc Long Quân, P. Hòa Bình, Hồ Chí Minh</p>
            <p class="text-color-white ">Email: dongho24h@gmail.com</p>
            <p class="text-color-white ">Hotline: 0902 808 020 - 0908 700 809</p>
            <p class="text-color-white ">Giờ mở cửa: 8:00 AM - 21:00 PM. (Thứ 2 - Chủ Nhật)</p>
        </div>

        <div class="flex flex-col gap-10 ">
            <h3 class="bold uppercase pos-rel text-color-white">Hỗ Trợ Khách Hàng</h3>
            <div class="title-border-bottom"></div>
            <div class="flex flex-col gap-10">
                <a href="javascript:void(0)" class="text-color-white ">Chính Sách Bảo Hành & Đổi Trả</a>
                <a href="javascript:void(0)" class="text-color-white ">Chính Sách Giao Hàng & Kiểm Hàng</a>
                <a href="javascript:void(0)" class="text-color-white ">Chính Sách Bảo Mật Thông Tin</a>
                <a href="javascript:void(0)" class="text-color-white ">Hướng Dẫn Mua Hàng & Thanh Toán</a>
                <a href="javascript:void(0)" class="text-color-white ">Tra Cứu Đơn Hàng</a>
            </div>
        </div>

        <div class="flex flex-col gap-10 ">
            <h3 class="bold uppercase pos-rel text-color-white">Về Đồng Hồ 24H</h3>
            <div class="title-border-bottom"></div>
            <div class="flex flex-col gap-10">
                <a href="../intro.html" class="text-color-white ">Giới Thiệu Công Ty</a>
                <a href="../news.html" class="text-color-white ">Tin Tức</a>
                <a href="../contact.html" class="text-color-white ">Liên Hệ Với Chúng Tôi</a>
            </div>
        </div>

        <div class="flex flex-col gap-10 ">
            <h3 class="bold uppercase pos-rel text-color-white">Chấp Nhận Thanh Toán</h3>
            <div class="title-border-bottom"></div>
            <div class="flex gap-5 flex-wrap">
                <div class="bg-white border-radius-5 item-padding-5 flex center-ver center-hor">
                    <img class="img-icon" src="./img/icon/visa.svg" alt="Visa" width="50" height="30" loading="lazy">
                </div>
                <div class="bg-white border-radius-5 item-padding-5 flex center-ver center-hor">
                    <img class="img-icon" src="./img/icon/jcb.svg" alt="JCB" width="50" height="30" loading="lazy">
                </div>
                <div class="bg-white border-radius-5 item-padding-5 flex center-ver center-hor">
                    <img class="img-icon" src="./img/icon/mastercard.svg" alt="Mastercard" width="50" height="30"
                        loading="lazy">
                </div>
                <div class="bg-white border-radius-5 item-padding-5 flex center-ver center-hor">
                    <img class="img-icon" src="./img/icon/vnpay.svg" alt="VNPay" width="50" height="30" loading="lazy">
                </div>
            </div>
            <div class="flex gap-10">
                <img src="./img/icon/dmca.svg" alt="DMCA Protected">
                <img src="./img/icon/bocongthuong.svg" alt="Đã thông báo Bộ Công Thương">
            </div>

            <h3 class="bold uppercase pos-rel text-color-white">Kết Nối Chúng Tôi</h3>
            <div class="title-border-bottom"></div>
            <div class="flex gap-10 footer-connect__container">
                <div class="footer-contect__item bg-primary flex center-ver center-hor pos-rel border-radius-5 item-padding-10">
                    <img src="./img/icon/facebook-white.svg" alt="Facebook" class="img-icon">
                    <a href="javascript:void(0)" class="pos-abs cover-all" aria-label="Facebook"></a>
                </div>
                <div class="footer-contect__item bg-primary flex center-ver center-hor pos-rel border-radius-5 item-padding-10">
                    <img src="./img/icon/twitter-white.svg" alt="Twitter" class="img-icon">
                    <a href="javascript:void(0)" class="pos-abs cover-all" aria-label="Twitter"></a>
                </div>
                <div class="footer-contect__item bg-primary flex center-ver center-hor pos-rel border-radius-5 item-padding-10">
                    <img src="./img/icon/youtube-white.svg" alt="YouTube" class="img-icon">
                    <a href="javascript:void(0)" class="pos-abs cover-all" aria-label="YouTube"></a>
                </div>
                <div class="footer-contect__item bg-primary flex center-ver center-hor pos-rel border-radius-5 item-padding-10">
                    <img src="./img/icon/instagram-white.svg" alt="Instagram" class="img-icon">
                    <a href="javascript:void(0)" class="pos-abs cover-all" aria-label="Instagram"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-l">
        <div class="flex center-hor center-ver item-padding-20">
            <p class="text-center text-color-deactive uppercase text-xs">
                © 2026 BẢN QUYỀN NỘI DUNG THUỘC VỀ ĐỒNG HỒ 24H
            </p>
        </div>
    </div>
</div>