<!-- THANH TOP BAR (Màu xanh lá) -->
<div class="container-f bg-primary">
    <div class="container-l flex center-ver header-bar jus-sb">
        <div class="flex center-ver gap-10">
            <div class="top-menu__iconcontact flex center-ver gap-10">
                <div class="top-menu__icon contact-item flex gap-10 item-padding-10">
                    <div class="top-menu__iconcontact-icon flex center-ver center-hor">
                        <img class="img-icon" src="./img/icon/top-menu-phone.svg" alt="Phone">
                    </div>
                    <p class="text-color-white">0902 808 020 - 0908 700 809</p>
                </div>
                <div class="top-menu__icon contact-item flex gap-10 item-padding-10">
                    <div class="top-menu__iconcontact-icon flex center-ver center-hor">
                        <img class="img-icon" src="./img/icon/top-menu-mail.svg" alt="Mail">
                    </div>
                    <p class="text-color-white">dongho24h@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="flex center-ver gap-10 top-menu__icon__function">
            <a href="javascript:void(0)" class="flex center-ver center-hor border-radius-5 item-padding-5">
                <img class="img-icon" src="./img/icon/top-menu-search.svg" alt="Search">
            </a>
            <a href="javascript:void(0)" class="flex center-ver center-hor border-radius-5 item-padding-5">
                <img class="img-icon" src="./img/icon/top-menu-user.svg" alt="User">
            </a>
            <a href="javascript:void(0)" class="flex center-ver center-hor border-radius-5 item-padding-5">
                <img class="img-icon" src="./img/icon/top-menu-location.svg" alt="Location">
            </a>
            <a href="javascript:void(0)" class="flex center-ver center-hor border-radius-5 item-padding-5">
                <img class="img-icon" src="./img/icon/top-menu-land.svg" alt="Language">
            </a>
            <a href="javascript:void(0)" class="flex center-ver center-hor border-radius-5 item-padding-5">
                <img class="img-icon" src="./img/icon/top-menu-shopping.svg" alt="Cart">
            </a>
        </div>
    </div>
</div>

<!-- THANH MENU CHÍNH (Nền đen) -->
<div class="container-f">
    <div class="container-l flex pos-rel header-bottom jus-sb center-ver item-padding-10">
        <a href="../index.html" class="logo">
            <img title="logo trang chủ" src="./img/logo/logo-dongho.svg" alt="Dongho24h Logo" height="40">
        </a>
        <div class="flex gap-20 header-bottom__menu center-ver">
            <div class="header-bottom__item flex center-ver">
                <a href="../index.html">
                    <img class="img-icon" src="./img/icon/top-menu-home.svg" alt="Home">
                </a>
            </div>
            <div class="header-bottom__item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Thương hiệu</a>
            </div>
            <div class="header-bottom__item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Nam</a>
            </div>
            <div class="header-bottom__item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Nữ</a>
            </div>
            <div class="header-bottom__item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Cặp đôi</a>
            </div>
            <div class="header-bottom__item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Trẻ em</a>
            </div>
            <div class="header-bottom__item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Treo tường & Để bàn</a>
            </div>
            <div class="header-bottom__item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Phụ kiện</a>
            </div>
            <div class="header-bottom__item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Trang sức</a>
            </div>
            <div class="header-bottom__item">
                <a href="../news.html" class="text-color-white uppercase bold" href="javascript:void(0)">Tin tức</a>
            </div>

            <div class="header-search center-ver bg-white border-radius-5 overflow-hidden">
                <input type="text" placeholder="Tìm kiếm sản phẩm..."
                    class="border-none item-padding-10 text-sm flex-1">
                <button type="submit"
                    class="border-none bg-white cursor-pointer item-padding-10 flex center-ver center-hor">
                    <img class="img-icon" src="./img/icon/top-menu-search-menu.svg" alt="Search">
                </button>
            </div>

            <!-- Nút Hamburger Menu -->
            <button class="menu-container__bar center-ver cursor-pointer">
                <img class="img-icon" src="./img/icon/bars.svg" alt="Menu">
            </button>
        </div>

        <!-- Menu Mobile -->
        <div class="m-menu flex flex-col pos-abs bg-white jus-sb">
            <div class="m-menu__root">
                <div class="m-menu__item flex flex-col active">
                    <a href="../index.html" class="text-color-deactive bold uppercase">Trang chủ</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Thương hiệu</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Nam</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Nữ</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Cặp đôi</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Trẻ em</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Treo tường & Để bàn</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Phụ kiện</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Trang sức</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../news.html" class="text-color-deactive bold uppercase">Tin tức</a>
                </div>
            </div>
            <div class="flex center-ver gap-10 item-padding-10 bg-primary right-hor"> 
                <a href="javascript:void(0)" class="flex center-ver center-hor border-radius-5 item-padding-5">
                    <img class="img-icon" src="./img/icon/top-menu-user.svg" alt="User">
                </a>
                <a href="javascript:void(0)" class="flex center-ver center-hor border-radius-5 item-padding-5">
                    <img class="img-icon" src="./img/icon/top-menu-location.svg" alt="Location">
                </a>
                <a href="javascript:void(0)" class="flex center-ver center-hor border-radius-5 item-padding-5">
                    <img class="img-icon" src="./img/icon/top-menu-land.svg" alt="Language">
                </a>
                <a href="javascript:void(0)" class="flex center-ver center-hor border-radius-5 item-padding-5">
                    <img class="img-icon" src="./img/icon/top-menu-shopping.svg" alt="Cart">
                </a>
            </div>
        </div>
    </div>
</div>