<!-- THANH TOP BAR (Màu xanh lá) -->
<div class="container-f bg-primary">
    <div class="container-l flex center-ver header-bar jus-sb">
        <div class="flex center-ver gap-10">
            <div class="top-menu__iconcontact flex center-ver gap-10">
                <div class="top-menu__icon contact-item flex gap-10 item-padding-10">
                    <div class="top-menu__iconcontact-icon flex center-ver center-hor">
                        <img class="img-icon" src="./img/icon/top-menu-phone.svg" alt="Phone">
                    </div>
                    <p class="text-color-white">0902 808 020 - 0908 700 809</p>
                </div>
                <div class="top-menu__icon contact-item flex gap-10 item-padding-10">
                    <div class="top-menu__iconcontact-icon flex center-ver center-hor">
                        <img class="img-icon" src="./img/icon/top-menu-mail.svg" alt="Mail">
                    </div>
                    <p class="text-color-white">dongho24h@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="flex center-ver gap-10 top-menu__icon__function">
            <div
                class="top-menu__icon__item pos-rel flex center-ver center-hor border-radius-5 cursor-pointer dh24h-search-dropdown">
                <a href="javascript:void(0)" class="pos-abs cover-all z-index-1" aria-label="Search"></a>

                <img class="img-icon" src="./img/icon/top-menu-search.svg" alt="Search" width="24" height="24">

                <div
                    class="pos-abs bg-white border-radius-5 custom-item__low item-padding-10 z-index-2 dh24h-search-submenu">
                    <form action="" class="flex center-ver gap-10 col-1">
                        <input type="text" placeholder="Tìm kiếm đồng hồ..." required
                            class="form-control flex-1 item-padding-10-20 border-radius-5 bg-white-secondary border-none">
                        <button type="submit"
                            class="bg-primary text-color-white border-radius-5 border-none cursor-pointer item-padding-10-20 bold text-sm">
                            Tìm
                        </button>
                    </form>
                </div>
            </div>
            <div
                class="top-menu__icon__item pos-rel flex center-ver center-hor border-radius-5 cursor-pointer dh24h-user-dropdown">
                <img class="img-icon" src="./img/icon/top-menu-user.svg" alt="User">

                <div class="pos-abs bg-white border-radius-5 custom-item__low flex-col dh24h-submenu z-index-2">
                    <a href="./login.html" class="un-wrap text-sm text-color-black item-padding-5 z-index-2">Đăng
                        nhập</a>
                    <a href="./signin.html" class="un-wrap text-sm text-color-black item-padding-5 z-index-2">Đăng
                        ký</a>
                </div>
            </div>
            <div class="top-menu__icon__item pos-rel flex center-ver center-hor border-radius-5 ">
                <a href="javascript:void(0)" class="pos-abs cover-all z-index-1" aria-label="Location"></a>
                <img class="img-icon" src="./img/icon/top-menu-location.svg" alt="Location">
            </div>
            <div class="top-menu__icon__item pos-rel flex center-ver center-hor border-radius-5 ">
                <a href="javascript:void(0)" class="pos-abs cover-all z-index-1" aria-label="Language"></a>
                <img class="img-icon" src="./img/icon/top-menu-land.svg" alt="Language">
            </div>
            <div class="top-menu__icon__item pos-rel flex center-ver center-hor border-radius-5 ">
                <a href="../shopping.html" class="pos-abs cover-all z-index-1" aria-label="Cart"></a>
                <img class="img-icon" src="./img/icon/top-menu-shopping.svg" alt="Cart">
            </div>
        </div>
    </div>
</div>

<!-- THANH MENU CHÍNH (Nền đen) -->
<div class="container-f">
    <div class="container-l flex pos-rel header-bottom jus-sb center-ver item-padding-10">
        <a href="../index.html" class="logo">
            <img title="logo trang chủ" src="./img/logo/logo-dongho.svg" alt="Dongho24h Logo" height="40">
        </a>
        <div class="flex gap-20 header-bottom__menu center-ver">
            <div class="header-bottom__item flex center-ver">
                <a href="../index.html">
                    <img class="img-icon" src="./img/icon/top-menu-home.svg" alt="Home">
                </a>
            </div>
            <div class="header-bottom__item nav-item  flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold nav-link">Thương hiệu</a>

                <div class="mega-menu pos-abs bg-white shadow-sm container-f z-index-5 border-radius-5">
                    <div class="container-l flex gap-20 item-padding-20">
                        <div class="col-5 flex flex-col gap-20">
                            <p class="text-sm text-color-deactive">Các Hãng Thụy Sỹ</p>
                            <div class="flex flex-col gap-10">
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Adriatica
                                    <span class="mega-badge item-padding-5 un-wrap tag-sale text-color-white bold">SALE
                                        40%</span>
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Candino
                                    <span class="mega-badge item-padding-5 un-wrap tag-sale text-color-white bold">SALE
                                        40%</span>
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Bulova
                                    <span class="mega-badge item-padding-5 un-wrap tag-sale text-color-white bold">SALE
                                        40%</span>
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Olympia Star
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Orient Star
                                    <span
                                        class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-5 flex flex-col gap-20">
                            <p class="text-sm text-color-deactive">Các Hãng Nhật Bản</p>
                            <div class="flex flex-col gap-10">
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Citizen
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> G-Shock & Baby-G
                                    <span
                                        class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Orient
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Seiko
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Casio Edifice
                                    <span
                                        class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-5 flex flex-col gap-20">
                            <p class="text-sm text-color-deactive">Các Hãng Bán Chạy</p>
                            <div class="flex flex-col gap-10">
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Casio
                                    <span
                                        class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Fossil
                                    <span
                                        class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Daniel Wellington
                                    <span
                                        class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Newsky
                                    <span
                                        class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-5 flex flex-col gap-20">
                            <p class="text-sm text-color-deactive">Các Hãng Khuyến Mãi</p>
                            <div class="flex flex-col gap-10">
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Romanson
                                    <span class="mega-badge item-padding-5 un-wrap tag-sale text-color-white bold">SALE
                                        40%</span>
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Michael Kors & Marc Jacobs
                                    <span class="mega-badge item-padding-5 un-wrap tag-sale text-color-white bold">SALE
                                        40%</span>
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Skagen
                                    <span class="mega-badge item-padding-5 un-wrap tag-sale text-color-white bold">SALE
                                        40%</span>
                                </a>
                                <a href="javascript:void(0)"
                                    class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                    <span class="mega-arrow text-color-deactive">›</span> Obaku
                                    <span class="mega-badge item-padding-5 un-wrap tag-sale text-color-white bold">SALE
                                        40%</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-5 header-bottom__img border-radius-5 overflow-hidden">
                            <img class="img-content" src="../img/about/hanh-trinh.svg" alt="">
                        </div>

                    </div>
                </div>
            </div>
            <div class="header-bottom__item nav-item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Nam</a>
                <div class="mega-menu pos-abs bg-white shadow-sm container-f z-index-5 border-radius-5">
                    <div class="container-l flex gap-20 item-padding-20">

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Khoảng Giá</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dưới 1Tr
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> 2Tr - 4Tr
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> 4Tr - 6Tr
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> 6Tr - 10Tr
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Trên 10Tr
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Chất Liệu Dây</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Kim Loại
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Da
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Titanium
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Nhựa / Cao Su
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Thương Hiệu Hot</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Casio
                                <span class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Citizen
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Daniel Wellington
                                <span class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                            </a>
                        </div>

                        <div class="col-5 header-bottom__img border-radius-5 overflow-hidden">
                            <img class="img-content" src="../img/about/hanh-trinh.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom__item nav-item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Nữ</a>
                <div class="mega-menu pos-abs bg-white shadow-sm container-f z-index-5 border-radius-5">
                    <div class="container-l flex gap-20 item-padding-20">

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Khoảng Giá</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dưới 1Tr
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> 2Tr - 4Tr
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> 4Tr - 6Tr
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> 6Tr - 10Tr
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Trên 10Tr
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Chất Liệu Dây</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Kim Loại
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Da
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Titanium
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Nhựa / Cao Su
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Thương Hiệu Hot</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Casio Sheen
                                <span class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Daniel Wellington
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Skagen
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Fossil
                            </a>
                        </div>

                        <div class="col-5 header-bottom__img border-radius-5 overflow-hidden">
                            <img class="img-content" src="../img/about/hanh-trinh.svg" alt="Banner Nữ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom__item nav-item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Cặp đôi</a>
                <div class="mega-menu pos-abs bg-white shadow-sm container-f z-index-5 border-radius-5">
                    <div class="container-l flex gap-20 item-padding-20">

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Khoảng Giá</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dưới 3Tr
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> 3Tr - 6Tr
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> 6Tr - 10Tr
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Trên 10Tr
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Chất Liệu Dây</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Kim Loại
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Da
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Titanium
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Thương Hiệu Hot</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Daniel Wellington
                                <span class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> G-Shock & Baby-G
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Casio
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> SRwatch
                            </a>
                        </div>

                        <div class="col-5 header-bottom__img border-radius-5 overflow-hidden">
                            <img class="img-content" src="../img/about/hanh-trinh.svg" alt="Banner Cặp đôi">
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom__item nav-item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Trẻ em</a>
                <div class="mega-menu pos-abs bg-white shadow-sm container-f z-index-5 border-radius-5">
                    <div class="container-l flex gap-20 item-padding-20">

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Khoảng Giá</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dưới 500k
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> 500k - 1Tr
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Trên 1Tr
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Chất Liệu Dây</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Nhựa / Cao Su
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Vải
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Thương Hiệu Hot</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Casio
                                <span class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                            </a>
                        </div>

                        <div class="col-5 header-bottom__img border-radius-5 overflow-hidden">
                            <img class="img-content" src="../img/about/hanh-trinh.svg" alt="Banner Trẻ em">
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom__item nav-item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Treo tường & Để bàn</a>
                <div class="mega-menu pos-abs bg-white shadow-sm container-f z-index-5 border-radius-5">
                    <div class="container-l flex gap-20 item-padding-20">

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Loại Đồng Hồ</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Đồng hồ treo tường
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Đồng hồ để bàn
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Khoảng Giá</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dưới 500k
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> 500k - 1Tr
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Trên 1Tr
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Thương Hiệu</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Casio
                                <span class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Rhythm
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Seiko
                            </a>
                        </div>

                        <div class="col-5 header-bottom__img border-radius-5 overflow-hidden">
                            <img class="img-content" src="../img/about/hanh-trinh.svg" alt="Banner Treo tường">
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom__item nav-item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Phụ kiện</a>
                <div class="mega-menu pos-abs bg-white shadow-sm container-f z-index-5 border-radius-5">
                    <div class="container-l flex gap-20 item-padding-20">

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Dây Đeo</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Da
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Kim Loại
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Cao Su / Nhựa
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây Vải / Nato
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Phụ Tùng & Bảo Quản</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Khóa đồng hồ
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Hộp đựng đồng hồ
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Pin đồng hồ
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dụng cụ thay dây
                                <span class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Vệ Sinh & Chăm Sóc</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dung dịch vệ sinh
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Khăn lau chuyên dụng
                            </a>
                        </div>

                        <div class="col-5 header-bottom__img border-radius-5 overflow-hidden">
                            <img class="img-content" src="../img/about/hanh-trinh.svg" alt="Banner Phụ kiện">
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom__item nav-item flex center-ver gap-5">
                <a href="../product.html" class="text-color-white uppercase bold">Trang sức</a>
                <div class="mega-menu pos-abs bg-white shadow-sm container-f z-index-5 border-radius-5">
                    <div class="container-l flex gap-20 item-padding-20">

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Loại Trang Sức</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Nhẫn
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Dây chuyền
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Vòng tay & Lắc tay
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Bông tai
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Chất Liệu</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Bạc 925
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Thép không gỉ
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Mạ vàng 18K
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Thương Hiệu</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Saga
                                <span class="mega-badge item-padding-5 un-wrap tag-hot text-color-white bold">HOT</span>
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Daniel Wellington
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Sokolov
                            </a>
                        </div>

                        <div class="flex-1 flex flex-col gap-10">
                            <p class="text-sm text-color-deactive bold">Bộ Sưu Tập</p>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Hàng mới về
                            </a>
                            <a href="#" class="mega-link text-sm text-color-black flex gap-5 center-ver">
                                <span class="mega-arrow text-color-deactive">›</span> Bán chạy nhất
                            </a>
                        </div>

                        <div class="col-5 header-bottom__img border-radius-5 overflow-hidden">
                            <img class="img-content" src="../img/about/hanh-trinh.svg" alt="Banner Trang sức">
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom__item">
                <a href="../news.html" class="text-color-white uppercase bold" href="javascript:void(0)">Tin tức</a>
            </div>

            <div class="header-search center-ver bg-white border-radius-5 overflow-hidden">
                <input type="text" placeholder="Tìm kiếm sản phẩm..."
                    class="border-none item-padding-10 text-sm flex-1">
                <button type="submit"
                    class="border-none bg-white cursor-pointer item-padding-10 flex center-ver center-hor">
                    <img class="img-icon" src="./img/icon/top-menu-search-menu.svg" alt="Search">
                </button>
            </div>

            <!-- Nút Hamburger Menu -->
            <button class="menu-container__bar center-ver cursor-pointer">
                <img class="img-icon" src="./img/icon/bars.svg" alt="Menu">
            </button>
        </div>

        <!-- Menu Mobile -->
        <div class="m-menu flex flex-col pos-abs bg-white jus-sb">
            <div class="m-menu__root">
                <div class="m-menu__item flex flex-col active">
                    <a href="../index.html" class="text-color-deactive bold uppercase">Trang chủ</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Thương hiệu</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Nam</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Nữ</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Cặp đôi</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Trẻ em</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Treo tường & Để bàn</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Phụ kiện</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../product.html" class="text-color-deactive bold uppercase">Trang sức</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="../news.html" class="text-color-deactive bold uppercase">Tin tức</a>
                </div>
            </div>
            <div class="flex center-ver gap-10 item-padding-10 bg-primary right-hor">
                <a href="javascript:void(0)" class="flex center-ver center-hor border-radius-5 item-padding-5">
                    <img class="img-icon" src="./img/icon/top-menu-user.svg" alt="User">
                </a>
                <a href="javascript:void(0)" class="flex center-ver center-hor border-radius-5 item-padding-5">
                    <img class="img-icon" src="./img/icon/top-menu-location.svg" alt="Location">
                </a>
                <a href="javascript:void(0)" class="flex center-ver center-hor border-radius-5 item-padding-5">
                    <img class="img-icon" src="./img/icon/top-menu-land.svg" alt="Language">
                </a>
                <a href="javascript:void(0)" class="flex center-ver center-hor border-radius-5 item-padding-5">
                    <img class="img-icon" src="./img/icon/top-menu-shopping.svg" alt="Cart">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="cta-floating flex flex-col z-index-5 jus-sb">

    <div class="cta-item pos-rel flex flex-col center-ver">
        <div class="cta-item__img">
            <img src="../img/icon/phone-cta.svg" alt="Gọi điện" class="img-content" >
        </div>
        <p class="cta-title">Điện thoại</p>
        <a href="javascript:void(0)" class="pos-abs cover-all" aria-label="Gọi điện"></a>
    </div>

    <div class="cta-item pos-rel flex flex-col center-ver">
        <div class="cta-item__img">
            <img src="../img/icon/messenger-cta.svg" alt="Messenger" class="img-content" >
        </div>
        <p class="cta-title">Messenger</p>
        <a href="javascript:void(0)" target="_blank" class="pos-abs cover-all" aria-label="Nhắn tin Messenger"></a>
    </div>

    <div class="cta-item pos-rel flex flex-col center-ver">
        <div class="cta-item__img">
            <img src="../img/icon/zalo-cta.svg" alt="Zalo" class="img-content" >
        </div>
        <p class="cta-title">Zalo</p>
        <a href="javascript:void(0)" target="_blank" class="pos-abs cover-all" aria-label="Nhắn tin Zalo"></a>
    </div>

    <div class="cta-item pos-rel flex flex-col center-ver">
        <div class="cta-item__img">
            <img src="../img/icon/map-cta.svg" alt="Google Maps" class="img-content" >
        </div>
        <p class="cta-title">Google Maps</p>
        <a href="javascript:void(0)" target="_blank" class="pos-abs cover-all" aria-label="Xem Google Maps"></a>
    </div>

</div>