<div class="sidebar-widget flex flex-col gap-20">
    <div class="archive-header flex flex-col gap-10">
        <h3 class="widget-title bold uppercase">Tìm kiếm bài viết</h3>
        <div class="title-border-bottom"></div>
    </div>
    <div class="widget-search flex gap-10 center-ver item-padding-10 border-radius-5 custom-item__low bg-white">
        <input type="text" placeholder="Nhập từ khóa..." class="fill-view border-none text-sm">
        <button class="search-submit border-none bg-white cursor-pointer flex center-ver center-hor">
            <img src="./img/icon/top-menu-search.svg" class="img-icon" alt="Search" width="16" height="16">
        </button>
    </div>
</div>

<div class="sidebar-widget flex flex-col gap-20">
    <div class="archive-header flex flex-col gap-10">
        <h3 class="widget-title bold uppercase">Thương hiệu sản phẩm</h3>
        <div class="title-border-bottom"></div>
    </div>
    <div class="widget-list flex flex-col gap-10">
        <a href="javascript:void(0)" class="text-color-deactive">Candino</a>
        <a href="javascript:void(0)" class="text-color-deactive">Adratica</a>
        <a href="javascript:void(0)" class="text-color-deactive">Bulova</a>
        <a href="javascript:void(0)" class="text-color-deactive">Alexendre Christie</a>
        <a href="javascript:void(0)" class="text-color-deactive">Titoni</a>
        <a href="javascript:void(0)" class="text-color-deactive">August Berg</a>
        <a href="javascript:void(0)" class="text-color-deactive">Tophill</a>
        <a href="javascript:void(0)" class="text-color-deactive">Orient Star</a>
        <a href="javascript:void(0)" class="text-color-deactive">Olympia Star</a>
    </div>
</div>

<div class="sidebar-widget flex flex-col gap-20">
    <div class="archive-header flex flex-col gap-10">
        <h3 class="widget-title bold uppercase">Bài viết mới</h3>
        <div class="title-border-bottom"></div>
    </div>
    <div class="widget-posts flex flex-col gap-20">
        
        <article class="post-mini flex gap-10 center-ver pos-rel border-radius-5 overflow-hidden">
            <div class="post-mini__img border-radius-5 overflow-hidden thumb-80">
                <img src="./img/news/news.jpg" class="img-content" alt="Mẹo vệ sinh đồng hồ">
            </div>
            <div class="post-mini__info flex flex-col gap-5 flex-1">
                <h4 class="post-mini__title bold clamp-text line-clamp-2 text-sm uppercase">MẸO VỆ SINH VÀ BẢO QUẢN ĐỒNG HỒ DÂY KIM LOẠI LÂU...</h4>
                <div class="flex gap-10">
                    <div class="news-item__date flex gap-5 center-ver">
                        <img class="img-icon" src="./img/icon/clock.svg" alt="Date" width="12" height="12">
                        <p class="text-xs text-color-deactive">17/4/2026</p>
                    </div>
                    <div class="news-item__view flex gap-5 center-ver">
                        <img class="img-icon" src="./img/icon/eye.svg" alt="View" width="12" height="12">
                        <p class="text-xs text-color-deactive">500</p>
                    </div>
                </div>
            </div>
            <a href="../news-detail.html" class="widget-posts__link pos-abs"></a>
        </article>

        <article class="post-mini flex gap-10 center-ver pos-rel border-radius-5 overflow-hidden">
            <div class="post-mini__img border-radius-5 overflow-hidden thumb-80">
                <img src="./img/news/news.jpg" class="img-content" alt="Top 5 mẫu đồng hồ nam">
            </div>
            <div class="post-mini__info flex flex-col gap-5 flex-1">
                <h4 class="post-mini__title bold clamp-text line-clamp-2 text-sm uppercase">TOP 5 MẪU ĐỒNG HỒ NAM DÂY DA LỊCH LÃM DÀNH CH...</h4>
                <div class="flex gap-10">
                    <div class="news-item__date flex gap-5 center-ver">
                        <img class="img-icon" src="./img/icon/clock.svg" alt="Date" width="12" height="12">
                        <p class="text-xs text-color-deactive">17/4/2026</p>
                    </div>
                    <div class="news-item__view flex gap-5 center-ver">
                        <img class="img-icon" src="./img/icon/eye.svg" alt="View" width="12" height="12">
                        <p class="text-xs text-color-deactive">500</p>
                    </div>
                </div>
            </div>
            <a href="../news-detail.html" class="widget-posts__link pos-abs"></a>
        </article>

        <article class="post-mini flex gap-10 center-ver pos-rel border-radius-5 overflow-hidden">
            <div class="post-mini__img border-radius-5 overflow-hidden thumb-80">
                <img src="./img/news/news.jpg" class="img-content" alt="Phân biệt đồng hồ cơ">
            </div>
            <div class="post-mini__info flex flex-col gap-5 flex-1">
                <h4 class="post-mini__title bold clamp-text line-clamp-2 text-sm uppercase">PHÂN BIỆT ĐỒNG HỒ CƠ (AUTOMATIC) VÀ ĐỒNG HỒ...</h4>
                <div class="flex gap-10">
                    <div class="news-item__date flex gap-5 center-ver">
                        <img class="img-icon" src="./img/icon/clock.svg" alt="Date" width="12" height="12">
                        <p class="text-xs text-color-deactive">17/4/2026</p>
                    </div>
                    <div class="news-item__view flex gap-5 center-ver">
                        <img class="img-icon" src="./img/icon/eye.svg" alt="View" width="12" height="12">
                        <p class="text-xs text-color-deactive">500</p>
                    </div>
                </div>
            </div>
            <a href="../news-detail.html" class="widget-posts__link pos-abs"></a>
        </article>

        <article class="post-mini flex gap-10 center-ver pos-rel border-radius-5 overflow-hidden">
            <div class="post-mini__img border-radius-5 overflow-hidden thumb-80">
                <img src="./img/news/news.jpg" class="img-content" alt="Giải mã sức hút Citizen">
            </div>
            <div class="post-mini__info flex flex-col gap-5 flex-1">
                <h4 class="post-mini__title bold clamp-text line-clamp-2 text-sm uppercase">GIẢI MÃ SỨC HÚT CỦA CITIZEN TSUYOSA: CƠN SỐ...</h4>
                <div class="flex gap-10">
                    <div class="news-item__date flex gap-5 center-ver">
                        <img class="img-icon" src="./img/icon/clock.svg" alt="Date" width="12" height="12">
                        <p class="text-xs text-color-deactive">17/4/2026</p>
                    </div>
                    <div class="news-item__view flex gap-5 center-ver">
                        <img class="img-icon" src="./img/icon/eye.svg" alt="View" width="12" height="12">
                        <p class="text-xs text-color-deactive">500</p>
                    </div>
                </div>
            </div>
            <a href="../news-detail.html" class="widget-posts__link pos-abs"></a>
        </article>
        
        <article class="post-mini flex gap-10 center-ver pos-rel border-radius-5 overflow-hidden">
            <div class="post-mini__img border-radius-5 overflow-hidden thumb-80">
                <img src="./img/news/news.jpg" class="img-content" alt="Giải mã sức hút Citizen 2">
            </div>
            <div class="post-mini__info flex flex-col gap-5 flex-1">
                <h4 class="post-mini__title bold clamp-text line-clamp-2 text-sm uppercase">GIẢI MÃ SỨC HÚT CỦA CITIZEN TSUYOSA: CƠN SỐ...</h4>
                <div class="flex gap-10">
                    <div class="news-item__date flex gap-5 center-ver">
                        <img class="img-icon" src="./img/icon/clock.svg" alt="Date" width="12" height="12">
                        <p class="text-xs text-color-deactive">17/4/2026</p>
                    </div>
                    <div class="news-item__view flex gap-5 center-ver">
                        <img class="img-icon" src="./img/icon/eye.svg" alt="View" width="12" height="12">
                        <p class="text-xs text-color-deactive">500</p>
                    </div>
                </div>
            </div>
            <a href="../news-detail.html" class="widget-posts__link pos-abs"></a>
        </article>

    </div>
</div>